.accordionContainer {
  margin: 25px 0;
}

.title {
  font-weight: 800;
}

:global(html.dark) .title {
  color: #f8fafc;
}

.description {
  padding: 5px 0;
  font-weight: 500;
}

:global(html.dark) .description {
  color: #b6bec9;
}

.subTitle {
  font-weight: 700;
  padding: 30px 0 10px 0;
}

:global(html.dark) .subTitle {
  color: #f8fafc;
}

.demoContainer {
  margin-top: 10px;
  border-radius: 10px;
  border: 0.1px solid #64748b;
}

.hasAccordions {
  padding: 20px;
  background-color: #cbd5e1;
  border-radius: 10px 10px 0 0;
  > div > svg {
    font-size: 30px;
    color: #171717;
  }
}

:global(html.dark) .hasAccordions {
  background-color: #d6d3d1;
}

.code pre {
  margin: 0 !important;
  padding: 1rem !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 0 0 10px 10px !important;
}

.dot {
  top: 3px;
  margin-left: 10px;
  position: relative;
}

.content {
  > a {
    color: #1d4ed8;
  }
}

:global(html.dark) .content {
  font-size: 16px;
  > a {
    color: #06b6d4;
  }
}

:global(html.dark) .content {
  color: #b6bec9;
}

.accExpanded {
  background-color: #c026d3;
}

.expandIcon {
  color: #ff0000;
  font-size: 25px;
}

.summaryContent {
  background-color: yellow;
  border: 2px solid blue;
}

.summaryRoot {
  border: 2px solid green !important;
}

.disabledRoot {
  background-color: #9ca3af !important;
}

.subSubTitle {
  font-weight: 700;
  padding-top: 30px;
}

:global(html.dark) .subSubTitle {
  color: #f8fafc;
}

.basicIcon {
  color: #000;
  font-size: 25px;
}

.basicExpanded {
  background-color: #334155 !important;
}

.accText {
  color: #b6bec9;
}

.expandIconCustom {
  color: #334155;
  font-size: 25px;
}

.customExpanded {
  margin: 5px 0;
  background-color: #71717a !important;
}
