.chipContainer {
  margin: 25px 0;
}

.title {
  font-weight: 800;
}

:global(html.dark) .title {
  color: #f8fafc;
}

.description {
  padding: 5px 0;
  font-weight: 500;
}

:global(html.dark) .description {
  color: #b6bec9;
}

.subTitle {
  font-weight: 700;
  padding: 30px 0 10px 0;
}

:global(html.dark) .subTitle {
  color: #f8fafc;
}

.subSubTitle {
  font-weight: 700;
  padding-top: 30px;
}

:global(html.dark) .subSubTitle {
  color: #f8fafc;
}

.demoContainer {
  margin-top: 10px;
  border-radius: 10px;
  border: 0.1px solid #64748b;
}

.hasChip {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #cbd5e1;
  border-radius: 10px 10px 0 0;
  > div > svg {
    font-size: 30px;
    color: #171717;
  }
}

:global(html.dark) .hasChip {
  background-color: #d6d3d1;
}

.code pre {
  margin: 0 !important;
  padding: 1rem !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 0 0 10px 10px !important;
}

.uList {
  padding-left: 40px;
}

.chipCentered {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.gridoptions {
  padding: 20px;
}

.gridtext {
  padding: 5px 0;
  font-weight: 700;
}

:global(html.dark) .gridtext {
  color: #b6bec9;
}

.optionvalues {
  > div > div > div {
    margin: 5px;
    display: flex;
    > svg {
      top: 1px;
      right: 5px;
      color: #1d4ed8;
      font-size: 18px;

      position: relative;
    }
  }
}

:global(html.dark) .optionvalues {
  > div > div > div {
    margin: 5px;
    display: flex;
    > p {
      color: #b6bec9;
    }
    > svg {
      color: #06b6d4;
    }
  }
}
