.btnGrpContainer {
  margin: 25px 0;
}

.title {
  font-weight: 800;
}

:global(html.dark) .title {
  color: #f8fafc;
}

.description {
  padding: 5px 0;
  font-weight: 500;
}

:global(html.dark) .description {
  color: #b6bec9;
}

.subTitle {
  font-weight: 700;
  padding: 30px 0 10px 0;
}

:global(html.dark) .subTitle {
  color: #f8fafc;
}

.subSubTitle {
  font-weight: 700;
  padding-top: 30px;
}

:global(html.dark) .subSubTitle {
  color: #f8fafc;
}

.demoContainer {
  margin-top: 10px;
  border-radius: 10px;
  border: 0.1px solid #64748b;
}

.hasBtnGrp {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #cbd5e1;
  border-radius: 10px 10px 0 0;
  > div > div {
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }
}

:global(html.dark) .hasBtnGrp {
  background-color: #d6d3d1;
}

.code pre {
  margin: 0 !important;
  padding: 1rem !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 0 0 10px 10px !important;
}
